*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.main{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}
.white{
    display:flex;
    margin: 30px;
    background-color:aliceblue;
    padding: 15px;

}
i{
    font-size: 25px;
    border-radius: 50px;
    background-color: orange;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px;
    color: white;

}
.aaa{
    margin-left: 15px;
    
}
h6{
font-size: 25px;
}
form{
    display: flex;
}
.main2{
    background-color: aliceblue;
    padding: 30px;
    
}
.bt{
    margin-left: 100px;
    background-color: orange;
    color: black;
    border-radius: 25px;
    padding: 15px;
    border: none;
}
input{
    padding: 2px 5px 2px 1px;
}
.ccc{
    margin-left: 8px;
}
.btn{
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
}
.to{
    background-image: url(car\ img6.jpg);
    height:50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.to h3{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: 40px;
}
.one{
    margin-left: 30px;
}
h5{
    justify-content: center;
    align-items: center;
    display: flex;
   margin-top: 70px;
   font-size: 40px;
   font-weight: bold;

}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.footer-info,
.footer-links,
.footer-contact {
    flex: 1;
    padding: 0 20px;
}

.footer-info h5,
.footer-links h5,
.footer-contact h5 {
    margin-top: 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}
.footer-links h5{
    text-align: center;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #222;
    margin-top: 25px;
}

.footer-bottom p {
    margin: 0;
}
.footer-contact{
    margin-left: 25px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10%;
}
ul li{
display: inline-block;
margin: 25px;
}
a{
    font-size: 20px;
    color: black;
}
.bt1{
    background-color: yellow;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
h1 a{
    font-size: 45px;
    color: red;
    font-weight: bold;
}
